
[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = alsoCN
attributes         = psw

[ alsoCN ]
C=CN
ST=JS
L=NJ
O=PLM
OU=1216
emailAddress=NON
CN = ue2

[ psw ]
challengePassword = 123456
